@model Category
<form method="post">
<h1>Create category</h1>
    <div asp-validation-summary="All">
        
    </div>
    <div>
        <label asp-for="Name"></label>
    </div>
    <div>
        <input asp-for="Name" type="text">
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="DisplayOrder"></label>
    </div>
    <div>
        <input asp-for="DisplayOrder" type="text">
        <span asp-validation-for="DisplayOrder"></span>
    </div>
    <div class="row">
        <div class="col-6">
            <button type="submit">create</button>
        </div>
        <div class="col-6">
            <button type="submit" asp-controller="Category" asp-action="Index"> back to list</button>

        </div>
    </div>
</form>
@* @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
} *@
